@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Roy Liu";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:roy.liu@activenetwork.com">roy.liu@activenetwork.com</a><br />
</address>
